*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/dist

yarn-error.log
*.log

.env
.env.*
!.env.example

.DS_Store
node_modules
/build
/package

/prisma


# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
